<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>{{title}}</title>
	</head>
	<body>
		<form class="col-12 d-md-flex justify-content-md-end p-3" action="/session/logout" method="get" >
			<button class="btn btn-danger" type="submit" value="logout" onclick="logout">Cerrar Sesión</button>
		</form>
		<div class='col-11 m-3 pt-3 pb-3 text-center flex'>
			<div class='card style-card item-center'>
				{{#each docs}}
					<div class='card-body'>
						<div class='card h-100'>
							{{#if this.thumbnail}}
							{{!-- <img src="{{this.thumbnail.[0]}}" class='card-img-top card-pers'alt=''/> --}}
							{{else}}
							<img src="../public/images/notImage.jpg" class='card-img-top' alt="">
							{{/if}}
							
							<ul class='list-group'>
								<li class='list-group-item'><h3><span
										>{{this.id}} </span>{{this.title}}</h3></li>
								<li class='list-group-item'><span
									>Description:</span> {{this.description}}</li>
								<li class='list-group-item'><span
									>Category:</span> {{this.category}}</li>
								<li class='list-group-item'><span
									>Price:</span> {{this.price}}</li>
								<li class='list-group-item'><span
									>Stock:</span> {{this.stock}}</li>
							</ul>
						</div>
					</div>
				{{/each}}
			</div>
			 <div>
        		{{#if hasPrevPage }}
            		<a href="{{prevLink}}">Anterior</a>
				{{/if}}
				{{#if hasNextPage}}
					<a href="{{nextLink}}">Siguiente</a>
				{{/if}}
    		</div>
		</div>
	</body>
</html>